{% extends 'base.html' %}
{% load static %}

{% block content %}
    <a class="close_side_menu" href="javascript:void(0);"></a>

    <!-- Start Banner Area  -->
    <div class="slider-area rbt-banner-10 height-750 bg_image"  style="background-image: url(/static/image/AboutUs/waldemar-RGumRVmV0MY-unsplash.jpg);" data-black-overlay="5">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title mb--20">
                            <span class="subtitle bg-coral-opacity">How We Work</span>
                        </div>
                        <h1 class="title display-one text-white">La Vocation est un centre de formations professionnelle situé à Yaoundé, au Cameroun,
                             dédié à l'amélioration des compétences techniques et professionnelles. <br>Rejoignez-nous pour développer vos 
                             compétences et contribuer au progrès de l'Afrique !</h1>
                        <div class="read-more-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">En savoir plu sur nous</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner Area  -->

    <!-- Start About Area  -->
    <div class="rbt-about-area about-style-1 bg-color-white rbt-section-gapTop">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail-wrapper">
                        <div class="thumbnail image-1">
                            <img data-parallax='{"x": 0, "y": -20}' src="{%  static '/image/Home/3550.jpg'%}" height="396" width="530" alt="Education Images">
                        </div>
                        <div class="thumbnail image-2 d-none d-xl-block">
                            <img data-parallax='{"x": 0, "y": 60}' src="{%  static '/image/Home/17731.jpg'%}" height="308" width="250" alt="Education Images">
                        </div>
                        <div class="thumbnail image-3 d-none d-md-block">
                            <img data-parallax='{"x": 0, "y": 80}' src="{%  static '/image/Home/stationElectric.jpg'%}" height="405" width="490" alt="Education Images">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="inner pl--50 pl_sm--0 pl_md--0">
                        <div class="section-title text-start">
                            <span class="subtitle bg-coral-opacity">À Propos de Nous</span>
                            <h2 class="title">Découvrez La Vocation <br /> Centre de Formations Professionnelles</h2>
                        </div>
                        <p class="description mt--30">La Vocation, située à Yaoundé, est un centre de formation professionnelle qui offre des programmes pratiques dans des domaines techniques. Nous visons à équiper nos
                             apprenants avec les compétences nécessaires pour réussir sur le marché du travail.</p>
                        <!-- Start Feature List  -->
                        <div class="rbt-feature-wrapper mt--40">

                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-pink-opacity">
                                    <i class="feather-heart"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Formations Pratiques</h6>
                                    <p class="feature-description">Nos sessions allient théorie et pratique sur le terrain, garantissant une expérience d'apprentissage enrichissante.</p>
                                </div>
                            </div>
                            
                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-primary-opacity">
                                    <i class="feather-book"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Accès aux Ressources</h6>
                                    <p class="feature-description">Nos apprenants bénéficient d'un accès à des équipements modernes et à des supports de formation de qualité.</p>
                                </div>
                            </div>
                            
                            <div class="rbt-feature feature-style-1">
                                <div class="icon bg-coral-opacity">
                                    <i class="feather-monitor"></i>
                                </div>
                                <div class="feature-content">
                                    <h6 class="feature-title">Formateurs Expérimentés</h6>
                                    <p class="feature-description">Nos experts, en activité, apportent une richesse d'expérience et de connaissances du secteur à nos apprenants.</p>
                                </div>
                            </div>
                        </div>

                        <!-- End Feature List  -->
                        <div class="about-btn mt--40">
                            <a class="rbt-btn btn-gradient hover-icon-reverse" href="#">
                                <span class="icon-reverse-wrapper">
                            <span class="btn-text">En savoir plus</span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Area  -->

    <!-- Start Button Area  -->
    <div class="rbt-video-area rbt-section-gapBottom pt--50 bg-color-white">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="inner pr--50">
                        <div class="section-title text-start">
                            <span class="subtitle bg-primary-opacity">Notre Méthode</span>
                            <h2 class="title">Construisez votre Carrière et Transformez votre Vie</h2>
                            <p class="description mt--30">À La Vocation, nous offrons des formations pratiques adaptées aux besoins du marché. Notre approche immersive prépare nos apprenants à exceller dans leur domaine.</p>
                            <div class="read-more-btn">
                                <a class="rbt-moderbt-btn" href="#">
                                    <span class="moderbt-btn-text">En Savoir Plus sur Nous</span>
                                    <i class="feather-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2">
                    <div class="video-popup-wrapper">
                        <img class="w-100 rbt-radius" src="{%  static '/image/AboutUs/WhatsApp Image 2025-02-08 à 16.03.16_1ad72f6e.jpg'%}" alt="Video Images">
                        <a class="popup-video position-to-top" href="https://www.youtube.com/watch?v=nA1Aqp0sPQo">
                            <span><img src="{%  static 'assets/images/icons/youtube.png'%}" alt=""></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Button Area  -->

    <div class="rbt-testimonial-area bg-color-white pb--80 overflow-hidden">
        <div class="container-fluid">
            <div class="row g-5 align-items-center">
                <div class="col-xl-3">
                    <div class="section-title pl--100 pl_sm--30">
                        <span class="subtitle bg-pink-opacity">Avis des Apprenants</span>
                        <h2 class="title">Ce Que Nos Apprenants Disent</h2>
                        <p class="description mt--20">Nos apprenants témoignent de l'impact positif de nos formations sur leur carrière et leur confiance en soi.</p>
                        <div class="veiw-more-btn mt--20">
                            <a class="rbt-btn btn-gradient rbt-marquee-btn marquee-text-y" href="{% url 'contact' %}">
                                <span data-text="Contactez-Nous">Contactez-Nous</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9">
                    <div class="overflow-hidden">
                        <div class="scroll-animation-wrapper pt--50 pb--30">
                            <div class="scroll-animation scroll-right-left">

                                <!-- Start Single Testimonial  -->
                                <div class="single-column-20">
                                    <div class="rbt-testimonial-box">
                                        <div class="inner">
                                            <div class="clint-info-wrapper">
                                                <div class="thumb">
                                                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Client Image">
                                                </div>
                                                <div class="client-info">
                                                    <h5 class="title">Jean Dupont</h5>
                                                    <span>Responsable Technique <i>@ StartTech</i></span>
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p class="subtitle-3">La Vocation a transformé ma carrière. Grâce à des formations pratiques, j'ai acquis des compétences qui m'ont permis d'évoluer rapidement dans mon domaine.</p>
                                                <div class="rating mt--20">
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                    <a href="#"><i class="fa fa-star"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Testimonial  -->

                               <!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-02.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Sophie Martin</h5>
                    <span>Directrice Marketing <i>@ InnovTech</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les cours à La Vocation m'ont permis d'acquérir des compétences pratiques directement applicables à mon travail. Je recommande vivement !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-03.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Luc Dupuis</h5>
                    <span>Designer Senior <i>@ Creative Minds</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">La Vocation m'a offert une formation de qualité qui m'a permis de perfectionner mes compétences en design. Une expérience inoubliable !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-04.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Claire Lefevre</h5>
                    <span>Chef de Projet <i>@ Tech Solutions</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les formations pratiques de La Vocation m'ont aidée à gérer mes projets avec plus d'efficacité. Un grand merci à l'équipe !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-05.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Antoine Bernard</h5>
                    <span>Analyste de Données <i>@ Data Insights</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">La Vocation a été un véritable tremplin pour ma carrière dans l'analyse de données. J'ai appris des méthodes que j'applique tous les jours.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-06.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Nina Roy</h5>
                    <span>Développeuse Web <i>@ Web Innovators</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les compétences que j'ai acquises à La Vocation m'ont permises de décrocher un emploi chez un leader du secteur. Je suis ravie !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-07.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Julien Moreau</h5>
                    <span>Responsable IT <i>@ Global Tech</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Une formation dynamique et enrichissante ! La Vocation m'a aidé à me former aux technologies de demain.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-08.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Émilie Garnier</h5>
                    <span>Chef de Produit <i>@ Market Leaders</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les formations de La Vocation sont d'une qualité exceptionnelle. J'ai pu appliquer immédiatement ce que j'ai appris.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->
                            </div>
                        </div>
                        <div class="scroll-animation-wrapper pb--50">
                            <div class="scroll-animation scroll-left-right">

                                <!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-01.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Martha Maldonado</h5>
                    <span>Directrice Générale <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">La formation à La Vocation m'a permis de développer des compétences pratiques qui ont propulsé ma carrière. Je ne saurais trop recommander cette école !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-08.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Christopher H. Win</h5>
                    <span>Designer Produit <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les cours en présentiel m'ont permis d'apprendre dans un environnement collaboratif et stimulant. Une expérience enrichissante !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-07.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Mildred W. Diaz</h5>
                    <span>Responsable des Opérations <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">L'apprentissage à La Vocation a été une véritable révélation. Les formateurs sont des experts passionnés qui partagent leurs connaissances avec enthousiasme.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-06.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Mandy F. Wood</h5>
                    <span>Designer Senior <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les supports pédagogiques sont d'une qualité exceptionnelle, et les projets pratiques m'ont aidé à me préparer pour le marché du travail.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-05.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Pearl B. Hill</h5>
                    <span>Présidente <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">La Vocation propose une approche éducative unique qui m'a permis de découvrir ma passion et d'améliorer mes compétences.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-06.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Mandy F. Wood</h5>
                    <span>Designer Senior <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Une formation qui change la vie ! J'ai appris des techniques essentielles pour réussir dans mon métier.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-07.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Mildred W. Diaz</h5>
                    <span>Responsable des Ressources Humaines <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">L'apprentissage à La Vocation m'a donné les outils nécessaires pour exceller dans ma carrière. Une expérience que je recommande !</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->

<!-- Start Single Testimonial  -->
<div class="single-column-20">
    <div class="rbt-testimonial-box">
        <div class="inner">
            <div class="clint-info-wrapper">
                <div class="thumb">
                    <img src="{% static 'assets/images/testimonial/client-08.png' %}" alt="Client Image">
                </div>
                <div class="client-info">
                    <h5 class="title">Christopher H. Win</h5>
                    <span>Designer Produit <i>@ La Vocation</i></span>
                </div>
            </div>
            <div class="description">
                <p class="subtitle-3">Les formations pratiques de La Vocation sont inestimables pour quiconque cherche à se perfectionner dans son domaine.</p>
                <div class="rating mt--20">
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                    <a href="#"><i class="fa fa-star"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Single Testimonial  -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rbt-team-area bg-color-white rbt-section-gapBottom">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-12 mb--60">
                    <div class="section-title text-center">
                        <span class="subtitle bg-pink-opacity">Nos Formateurs</span>
                        <h2 class="title">Des Inspirations Qui Vous Émeuvent</h2>
                        <p class="description mt--20">À La Vocation, nos formateurs passionnés partagent leur expertise et leur expérience pour inspirer la prochaine génération de professionnels. Leur engagement envers l'apprentissage pratique et l'innovation fait toute la différence.</p>
                    </div>
                </div>
            </div>

            <div class="row g-5">

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="{%  static 'assets/images/team/team-07.jpg'%}" alt="Corporate Template">
                            </div>
                            <div class="content">
                                <h2 class="title">Jean-Pierre</h2>
                                <h6 class="subtitle theme-gradient">Enseignant de Mathématiques</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Yaoundé, Cameroun</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="rbt-team team-style-default style-three rbt-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="{% static 'assets/images/team/team-08.jpg' %}" alt="Enseignant Camerounais"></div>
                            <div class="content">
                                <h2 class="title">Jean-Pierre Nguimfack</h2>
                                <h6 class="subtitle theme-gradient">Responsable de Mathématiques</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">Yaoundé, Cameroun</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
<div class="col-lg-4 col-md-6 col-12">
    <div class="rbt-team team-style-default style-three rbt-hover">
        <div class="inner">
            <div class="thumbnail"><img src="{% static 'assets/images/team/team-09.jpg' %}" alt="Enseignant Camerounais"></div>
            <div class="content">
                <h2 class="title">Marie-Claire Nguea</h2>
                <h6 class="subtitle theme-gradient">Enseignante de Mathématiques</h6>
                <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">Douala, Cameroun</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Single Team  -->

               <!-- Start Single Team  -->
<div class="col-lg-4 col-md-6 col-12">
    <div class="rbt-team team-style-default style-three rbt-hover">
        <div class="inner">
            <div class="thumbnail"><img src="{% static 'assets/images/team/team-06.jpg' %}" alt="Enseignant Camerounais"></div>
            <div class="content">
                <h2 class="title">Gaston Mboua</h2>
                <h6 class="subtitle theme-gradient">Enseignant d'Anglais</h6>
                <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">Yaoundé, Cameroun</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Single Team  -->

<!-- Start Single Team  -->
<div class="col-lg-4 col-md-6 col-12">
    <div class="rbt-team team-style-default style-three rbt-hover">
        <div class="inner">
            <div class="thumbnail"><img src="{% static 'assets/images/team/team-05.jpg' %}" alt="Enseignant Camerounais"></div>
            <div class="content">
                <h2 class="title">Aissatou Nguembou</h2>
                <h6 class="subtitle theme-gradient">Responsable de Département</h6>
                <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">Douala, Cameroun</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Single Team  -->

<!-- Start Single Team  -->
<div class="col-lg-4 col-md-6 col-12">
    <div class="rbt-team team-style-default style-three rbt-hover">
        <div class="inner">
            <div class="thumbnail"><img src="{% static 'assets/images/team/team-04.jpg' %}" alt="Enseignant Camerounais"></div>
            <div class="content">
                <h2 class="title">Léa Tchoua</h2>
                <h6 class="subtitle theme-gradient">Enseignante de Mathématiques</h6>
                <span class="team-form">
                    <i class="feather-map-pin"></i>
                    <span class="location">Bafoussam, Cameroun</span>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- End Single Team  -->
            </div>
        </div>
    </div>

    <div class="rbt-newsletter-area newsletter-style-2 bg-color-primary rbt-section-gap">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Recevez les Dernières Mises à Jour</span>
                            <h2 class="title color-white"><strong>Abonnez-vous</strong> à notre Newsletter</h2>
                            <p class="description color-white mt--20">À La Vocation, nous vous tenons informés des dernières actualités et opportunités d'apprentissage. Rejoignez notre communauté !</p>
                        </div>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Entrez votre E-Mail">
                            <button type="submit" class="rbt-btn btn-md btn-gradient hover-icon-reverse">
                                <span class="icon-reverse-wrapper">
                                    <span class="btn-text">S'abonner</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </form>
                        <span class="note-text color-white mt--20">Pas de publicités, pas d'essais, pas d'engagements</span>
            
                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="500">00</span></h3>
                                            <h5 class="title color-white">Apprenants Formés avec Succès</h5>
                                            <span class="subtitle color-white">Et ça continue</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
            
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="rbt-counterup rbt-hover-03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="100">00</span></h3>
                                            <h5 class="title color-white">Étudiants Diplomes</h5>
                                            <span class="subtitle color-white">Cours de qualite</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}